# fastai v2 Kernel Starter Code

The goal of this kernel is to show how to train a neural network using fastai 2.0 for this Kaggle Competition

## Grabbing the Library

First we need to enable internet access within this kernel and then `!git clone` the `fastai_dev` repository for us to import from.

In [ ]:
#!git clone https://github.com/fastai/fastai_dev.git
#%cd fastai_dev/dev

We're going to need a variety of imports, most importantly the `tabular.core` module for building the dataset (the rest deal with training the model)

In [1]:
from fastai2.data.all import *
from fastai2.tabular.core import *
from fastai2.tabular.model import *
from fastai2.optimizer import *
from fastai2.learner import *
from fastai2.metrics import *
from fastai2.callback.all import *

## Setting Up Our Data

Let's make a `Path` object to our data and combine the `train.csv` with the `building_metadata.csv` to grab some more information about these meter readings. For simplicity we will use the first 1000 samples from the training set. For the `DataFrame` preperation please see ryches Kernel [here](https://www.kaggle.com/ryches/simple-lgbm-solution)

In [4]:
path = Path('../input')

In [5]:
train = pd.read_csv(path/'train.csv')
#train = train.iloc[:5000]
bldg = pd.read_csv(path/'building_metadata.csv')
weather_train = pd.read_csv(path/"weather_train.csv")

In [6]:
train = train[np.isfinite(train['meter_reading'])]

In [7]:
train['meter_reading'].min(), train['meter_reading'].max()

(0.0, 21904700.0)

In [8]:
train['meter_reading'] = np.log1p(train['meter_reading'])

In [9]:
train['meter_reading'].min(), train['meter_reading'].max()

(0.0, 16.902211829285342)

In [10]:
np.all(np.isfinite(train['meter_reading']))

True

In [11]:
bldg.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [12]:
train = train.merge(bldg, left_on = 'building_id', right_on = 'building_id', how = 'left')

In [13]:
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count
0,0,0,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN
1,1,0,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN
2,2,0,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN
3,3,0,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN
4,4,0,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN

In [14]:
weather_train.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [15]:
train = train.merge(weather_train, left_on = ['site_id', 'timestamp'], right_on = ['site_id', 'timestamp'])

In [16]:
train

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01 00:00:00,0.000000,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,1,0,2016-01-01 00:00:00,0.000000,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
2,2,0,2016-01-01 00:00:00,0.000000,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
3,3,0,2016-01-01 00:00:00,0.000000,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
4,4,0,2016-01-01 00:00:00,0.000000,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
5,5,0,2016-01-01 00:00:00,0.000000,0,Education,8000,2000.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
6,6,0,2016-01-01 00:00:00,0.000000,0,Lodging/residential,27926,1981.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
7,7,0,2016-01-01 00:00:00,0.000000,0,Education,121074,1989.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
8,8,0,2016-01-01 00:00:00,0.000000,0,Education,60809,2003.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
9,9,0,2016-01-01 00:00:00,0.000000,0,Office,27000,2010.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
10,10,0,2016-01-01 00:00:00,0.000000,0,Entertainment/public assembly,370773,1991.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
11,11,0,2016-01-01 00:00:00,0.000000,0,Education,49073,1968.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
12,12,0,2016-01-01 00:00:00,0.000000,0,Lodging/residential,37100,1999.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
13,13,0,2016-01-01 00:00:00,0.000000,0,Education,99380,2000.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
14,14,0,2016-01-01 00:00:00,0.000000,0,Education,86250,2013.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
15,15,0,2016-01-01 00:00:00,0.000000,0,Office,83957,1974.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
16,16,0,2016-01-01 00:00:00,0.000000,0,Education,54644,1996.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
17,17,0,2016-01-01 00:00:00,0.000000,0,Office,15250,1980.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
18,18,0,2016-01-01 00:00:00,0.000000,0,Education,111891,1996.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
19,19,0,2016-01-01 00:00:00,0.000000,0,Office,18717,2004.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
20,20,0,2016-01-01 00:00:00,0.000000,0,Education,110272,1977.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
21,21,0,2016-01-01 00:00:00,0.000000,0,Office,7043,1990.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
22,22,0,2016-01-01 00:00:00,0.000000,0,Education,3569,1996.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
23,23,0,2016-01-01 00:00:00,0.000000,0,Education,130885,1985.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
24,24,0,2016-01-01 00:00:00,0.000000,0,Education,105545,2001.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
25,25,0,2016-01-01 00:00:00,0.000000,0,Office,103286,1969.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
26,26,0,2016-01-01 00:00:00,0.000000,0,Office,26953,2005.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
27,27,0,2016-01-01 00:00:00,0.000000,0,Lodging/residential,59200,1999.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
28,28,0,2016-01-01 00:00:00,0.000000,0,Office,52957,2016.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
29,30,0,2016-01-01 00:00:00,0.000000,0,Education,93897,1999.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20125575,1427,0,2016-12-31 23:00:00,4.984976,15,Education,180625,1933.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125576,1427,2,2016-12-31 23:00:00,8.008971,15,Education,180625,1933.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125577,1428,0,2016-12-31 23:00:00,3.681981,15,Education,28432,1933.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125578,1429,0,2016-12-31 23:00:00,3.359507,15,Education,40461,2002.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125579,1430,2,2016-12-31 23:00:00,5.766970,15,Office,53303,1981.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125580,1431,0,2016-12-31 23:00:00,4.488074,15,Public services,111360,2000.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125581,1431,2,2016-12-31 23:00:00,6.057580,15,Public services,111360,2000.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125582,1432,0,2016-12-31 23:00:00,6.002528,15,Education,160673,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125583,1433,0,2016-12-31 23:00:00,3.745968,15,Education,28084,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125584,1433,2,2016-12-31 23:00:00,8.063025,15,Education,28084,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125585,1434,0,2016-12-31 23:00:00,4.272839,15,Education,33148,1967.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125586,1434,2,2016-12-31 23:00:00,5.560962,15,Education,33148,1967.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125587,1435,0,2016-12-31 23:00:00,1.744843,15,Education,9552,1961.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125588,1436,0,2016-12-31 23:00:00,2.533697,15,Manufacturing/industrial,11302,1937.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125589,1436,2,2016-12-31 23:00:00,7.151219,15,Manufacturing/industrial,11302,1937.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125590,1437,0,2016-12-31 23:00:00,5.282823,15,Education,111518,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125591,1437,2,2016-12-31 23:00:00,7.326413,15,Education,111518,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125592,1438,0,2016-12-31 23:00:00,4.621781,15,Education,108971,1990.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125593,1438,2,2016-12-31 23:00:00,6.749662,15,Education,108971,1990.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125594,1439,0,2016-12-31 23:00:00,5.126342,15,Education,56497,1957.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125595,1440,0,2016-12-31 23:00:00,5.048252,15,Lodging/residential,150294,1987.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125596,1441,0,2016-12-31 23:00:00,5.496861,15,Education,30143,1951.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125597,1442,0,2016-12-31 23:00:00,4.100989,15,Public services,99541,1993.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125598,1442,2,2016-12-31 23:00:00,4.036435,15,Public services,99541,1993.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125599,1443,0,2016-12-31 23:00:00,4.188897,15,Education,40311,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125600,1444,0,2016-12-31 23:00:00,2.277267,15,Entertainment/public assembly,19619,1914.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125601,1445,0,2016-12-31 23:00:00,1.762159,15,Education,4298,NaN,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125602,1446,0,2016-12-31 23:00:00,0.000000,15,Entertainment/public assembly,11265,1997.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125603,1447,0,2016-12-31 23:00:00,5.078761,15,Lodging/residential,29775,2001.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20125604,1448,0,2016-12-31 23:00:00,1.348073,15,Office,92271,2001.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

In [17]:
del weather_train

In [18]:
train["timestamp"] = pd.to_datetime(train["timestamp"])
train["hour"] = train["timestamp"].dt.hour
train["day"] = train["timestamp"].dt.day
train["weekend"] = train["timestamp"].dt.weekday
train["month"] = train["timestamp"].dt.month

In [19]:
train.drop('timestamp', axis=1, inplace=True)

## Making the DataBunch

Next, just like in fastai v1 we need to declare a few things. Specifically our Categorical and Continuous variables, our preprocessors (Normalization, Categorification, and FillMissing), along with how we want to split our data. `fastai` v2 now includes a `RandomSplitter` which is similar to `.split_by_rand_pct()` but now we can specify a custom range for our data (hence `range_of(train)`)

In [20]:
cat_vars = ["building_id", "primary_use", "hour", "day", "weekend", "month", "meter"]
cont_vars = ["square_feet", "year_built", "air_temperature", "cloud_coverage",
              "dew_temperature"]
dep_var = 'meter_reading'

In [21]:
procs = [Normalize, Categorify, FillMissing, Cuda]
splits = RandomSplitter()(range_of(train))

Now that those are defined, we can create a `TabularPandas` object by passing in our dataframe, the `procs`, our variables, what our `y` is, and how we want to split our data. `fastai` v2 is built on a Pipeline structure where first we dictate what we want to do, then we call the databunch (the high-level API is not done yet so we have nothing similar to directly DataBunching an object)

In [22]:
to = TabularPandas(train, procs, cat_vars, cont_vars, y_names=dep_var, splits=splits, is_y_cat=False)

If we look at what `to` actually is, we can see what looks to be a bunch of batches of our data aligned into a dataframe that can easily be read!

In [23]:
to

          building_id  meter  meter_reading  site_id  primary_use  \
8762645          1019      1       5.013963       10            1
11644712          213      4       5.741897        2            1
9447939           988      3       5.476045        9            1
13039607          186      1       4.377768        2            1
262060           1159      2       0.000000       13           10
167028           1211      2       1.503766       13            7
6442559           388      1       5.463662        3            1
8919853          1148      3       7.779726       13            2
16015693          107      4       2.397895        1            1
4694074           210      1       6.862036        2            1
18626663           43      1       7.216225        0            8
16363991          199      2       6.365838        2            7
9713755           792      3       0.000000        7            1
1972248          1351      2       0.000000       15            1
19868549          131      1       3.634951        1            5
9275812          1012      4       0.000000       10            1
8185133           299      1       3.066657        3            2
12451610          955      3       6.985364        9            1
18042939          846      1       0.753772        8            2
10824795          797      1       6.841680        7            1
7980956          1228      4       5.865618       14            1
16485413          202      2       6.898992        2            1
4664982           914      3       5.423628        9            2
14979361         1217      2       0.000000       13            7
13165874          158      1       4.691073        2            7
2941709           462      1       4.758578        3            1
14267794          299      1       3.547604        3            2
16079204         1398      2       2.657851       15            5
8948918           187      1       0.620576        2           11
13152632          833      1       4.164077        8           10
...               ...    ...            ...      ...          ...
18456570          459      1       3.224858        3            2
3418797           285      1       5.847883        2            2
15416203         1286      1       5.303305       14            4
13628144          104      1       3.262632        0            1
4503618           795      1       8.078443        7            1
13992272         1269      1       4.037241       14            7
4274872           920      1       3.367296        9            1
8321604           834      1       2.970414        8           10
5887796          1273      1       5.294485       14           10
10191751         1137      1       3.710249       13            7
15624018         1293      2       0.000000       14            7
5437636           604      1       3.339322        4           10
5553291          1266      1       4.085279       14            3
10730849          480      1       4.843557        3           10
9530492          1176      1       5.328570       13            6
5174121          1161      1       4.265563       13            7
11353804          910      1       4.820282        9            2
18580757          423      1       1.581038        3           10
14956230         1398      2       1.845506       15            5
633883            923      2       4.319289        9            1
11077212          536      1       3.614964        3            4
15560220         1274      1       4.219508       14            7
8195805          1197      1       4.627225       13            2
8735350          1426      3       6.337574       15           15
14498079         1425      1       3.497265       15            5
823268           1335      1       4.578570       15            7
19284300         1094      3       5.039028       13            7
18346326          195      2       3.086034        2            7
19536141         1308      3       0.000000       14            5
1962605          1184      1       5.848941       13            2

          square_feet  year_built  floor_count  air_temperature  \
8762645      0.675115    0.034523          2.0         0.521720
11644712     1.873826    2.236004          NaN         1.636095
9447939      0.500579    0.034523          NaN         1.636095
13039607    -0.200254    0.034523          NaN         1.225055
262060       1.596856    0.034523          NaN        -1.761836
167028      -0.130252    0.034523          NaN        -1.917117
6442559     -0.030371    2.078756          NaN        -0.346031
8919853      1.081777    0.034523          NaN         0.311633
16015693    -0.874034    0.034523          4.0        -0.282092
4694074      0.730212    1.921507          NaN         0.265961
18626663     1.013738   -0.070309          NaN         0.165485
16363991     0.479783    1.816675          NaN         0.722673
9713755      0.366550    0.034523          5.0         0.731807
1972248      0.358585    1.816675          NaN        -1.862312
19868549    -0.383003   -0.489639         16.0        -1.158977
9275812     -0.363787    0.034523          4.0         1.480813
8185133     -0.582356    0.034523          NaN         0.567391
12451610     1.685742    0.034523          NaN         0.667867
18042939    -0.912570    0.034523          1.0         0.667867
10824795     1.009777   -0.227558          2.0         0.804881
7980956     -0.263402    0.034523          NaN         1.078907
16485413     0.954851    1.187680          NaN         1.636095
4664982      3.379540    0.034523          NaN         0.421243
14979361    -0.789562    0.034523          NaN         0.211156
13165874    -0.875025    0.034523          NaN         2.138477
2941709     -0.327454   -0.542055          NaN        -0.291226
14267794    -0.582356    0.034523          NaN         0.567391
16079204    -0.749311   -2.900785          NaN        -0.492179
8948918     -0.906005   -1.118633          NaN         1.891853
13152632    -0.693625    0.034523          1.0         1.005833
...               ...         ...          ...              ...
18456570    -0.880736    0.034523          NaN        -0.601789
3418797      1.045777    0.296604          NaN         0.877954
15416203     0.190452    0.034523          NaN         0.265961
13628144    -0.735029    2.445669          NaN         0.823149
4503618      5.328598   -0.017893         11.0        -1.643091
13992272    -0.552767    0.034523          NaN         0.265961
4274872     -0.653280    0.034523          NaN         0.622196
8321604     -0.865344    0.034523          1.0         1.480813
5887796      1.192713    0.034523          NaN        -0.747937
10191751    -0.238824    0.034523          NaN         0.768344
15624018    -0.423101    0.034523          NaN        -0.848413
5437636     -0.671805    1.816675          3.0        -0.245555
5553291     -0.615957    0.034523          NaN        -1.204648
10730849    -0.544674    0.453853          NaN         1.581289
9530492     -0.225250    0.034523          NaN         0.622196
5174121     -0.235213    0.034523          NaN        -1.615688
11353804    -0.355446    0.034523          NaN         1.334665
18580757    -0.845419    0.034523          NaN        -1.104172
14956230    -0.749311   -2.900785          NaN        -0.291226
633883       0.336757    0.034523          NaN         0.211156
11077212    -0.791859    2.131172          NaN         1.334665
15560220    -0.031319    0.034523          NaN        -0.948890
8195805     -0.431595    0.034523          NaN        -0.090273
8735350     -0.885158    1.082848          NaN        -0.446508
14498079    -0.714148   -0.279974          NaN         0.165485
823268       0.196658   -1.904877          NaN        -1.104172
19284300    -0.513745    0.034523          NaN        -2.529110
18346326     0.409123    0.034523          NaN        -0.090273
19536141    -0.356368    0.034523          NaN        -1.816641
1962605      0.504514    0.034523          NaN        -1.816641

          cloud_coverage  ...  wind_speed  hour  day  weekend  month  \
8762645        -0.527723  ...         4.1    14   11        6      6
11644712        2.415208  ...         4.6     7    2        2      8
9447939         0.453254  ...         3.1    23   23        4      6
13039607        1.434231  ...         5.7    17   27        6      8
262060         -0.527723  ...         6.2    24    5        2      1
167028         -0.527723  ...         4.6     4    4        1      1
6442559        -0.527723  ...         3.6     6    1        7      5
8919853         3.396185  ...         3.6    13   14        2      6
16015693       -0.527723  ...         4.6    12   19        3     10
4694074         1.434231  ...         2.1     2   31        4      3
18626663        0.453254  ...         0.0    10    5        1     12
16363991        0.453254  ...         2.6    16   25        2     10
9713755        -0.527723  ...         2.6    17   28        2      6
1972248        -0.527723  ...         2.6     5    6        6      2
19868549       -0.527723  ...         1.0    12   27        2     12
9275812        -0.527723  ...         2.1    21   20        1      6
8185133        -0.527723  ...         1.5     8    1        3      6
12451610       -0.527723  ...         0.0    24   16        2      8
18042939        1.434231  ...         2.1    16   24        4     11
10824795       -0.527723  ...         5.1    14   18        1      7
7980956        -0.527723  ...         2.6    16   28        6      5
16485413       -0.527723  ...         0.0    21   27        4     10
4664982        -0.527723  ...         4.6    13   30        3      3
14979361       -0.527723  ...         4.6     3    1        6     10
13165874        0.453254  ...         2.6    23   29        1      8
2941709         0.453254  ...         8.8     8   25        4      2
14267794       -0.527723  ...         3.6    12   18        7      9
16079204       -0.527723  ...         2.1    14   20        4     10
8948918        -0.527723  ...         4.6     2   15        3      6
13152632       -0.527723  ...         4.6    17   29        1      8
...                  ...  ...         ...   ...  ...      ...    ...
18456570        0.453254  ...         5.7     1    2        5     12
3418797        -0.527723  ...         1.5    21    5        6      3
15416203       -0.527723  ...         2.1    20    8        6     10
13628144        1.434231  ...         4.1     4    7        3      9
4503618        -0.527723  ...         2.6    10   27        7      3
13992272        1.434231  ...         1.5    14   13        2      9
4274872        -0.527723  ...         5.7    20   22        2      3
8321604         1.434231  ...         2.6    18    3        5      6
5887796        -0.527723  ...         0.0     8   21        4      4
10191751       -0.527723  ...         2.1     6    7        4      7
15624018       -0.527723  ...         1.5    12   12        3     10
5437636         1.434231  ...         4.1     8   13        3      4
5553291        -0.527723  ...         1.5     9   15        5      4
10730849        2.415208  ...         4.1    22   16        6      7
9530492         0.453254  ...         4.6    10   25        6      6
5174121        -0.527723  ...         6.7    15    8        5      4
11353804       -0.527723  ...         1.5     1   28        4      7
18580757       -0.527723  ...         2.6    12    4        7     12
14956230       -0.527723  ...         4.1    17   30        5      9
633883         -0.527723  ...         1.5    22   12        2      1
11077212       -0.527723  ...         4.6     2   23        6      7
15560220       -0.527723  ...         2.6     9   11        2     10
8195805         0.453254  ...         3.6    12    1        3      6
8735350        -0.527723  ...         1.5     2   11        6      6
14498079       -0.527723  ...         1.5    14   22        4      9
823268         -0.527723  ...         2.1     8   16        6      1
19284300        3.886674  ...         2.1     3   17        6     12
18346326        0.453254  ...         3.6     1   30        3     11
19536141       -0.527723  ...         2.1    14   21        3     12
1962605         3.396185  ...         6.7     1    6        6      2

          square_feet_na  year_built_na  air_temperature_na  \
8762645                1              2                   1
11644712               1              1                   1
9447939                1              2                   1
13039607               1              2                   1
262060                 1              2                   1
167028                 1              2                   1
6442559                1              1                   1
8919853                1              2                   1
16015693               1              2                   1
4694074                1              1                   1
18626663               1              1                   1
16363991               1              1                   1
9713755                1              2                   1
1972248                1              1                   1
19868549               1              1                   1
9275812                1              2                   1
8185133                1              2                   1
12451610               1              2                   1
18042939               1              2                   1
10824795               1              1                   1
7980956                1              2                   1
16485413               1              1                   1
4664982                1              2                   1
14979361               1              2                   1
13165874               1              2                   1
2941709                1              1                   1
14267794               1              2                   1
16079204               1              1                   1
8948918                1              1                   1
13152632               1              2                   1
...                  ...            ...                 ...
18456570               1              2                   1
3418797                1              1                   1
15416203               1              2                   1
13628144               1              1                   1
4503618                1              1                   1
13992272               1              2                   1
4274872                1              2                   1
8321604                1              2                   1
5887796                1              2                   1
10191751               1              2                   1
15624018               1              2                   1
5437636                1              1                   1
5553291                1              2                   1
10730849               1              1                   1
9530492                1              2                   1
5174121                1              2                   1
11353804               1              2                   1
18580757               1              2                   1
14956230               1              1                   1
633883                 1              2                   1
11077212               1              1                   1
15560220               1              2                   1
8195805                1              2                   1
8735350                1              1                   1
14498079               1              1                   1
823268                 1              1                   1
19284300               1              2                   1
18346326               1              2                   1
19536141               1              2                   1
1962605                1              2                   1

          cloud_coverage_na  dew_temperature_na
8762645                   1                   1
11644712                  1                   1
9447939                   1                   1
13039607                  1                   1
262060                    2                   1
167028                    1                   1
6442559                   2                   1
8919853                   1                   1
16015693                  2                   1
4694074                   1                   1
18626663                  1                   1
16363991                  1                   1
9713755                   2                   1
1972248                   1                   1
19868549                  1                   1
9275812                   1                   1
8185133                   2                   1
12451610                  2                   1
18042939                  1                   1
10824795                  2                   1
7980956                   1                   1
16485413                  2                   1
4664982                   2                   1
14979361                  2                   1
13165874                  1                   1
2941709                   1                   1
14267794                  2                   1
16079204                  2                   1
8948918                   1                   1
13152632                  2                   1
...                     ...                 ...
18456570                  1                   1
3418797                   2                   1
15416203                  2                   1
13628144                  1                   1
4503618                   2                   1
13992272                  1                   1
4274872                   1                   1
8321604                   1                   1
5887796                   1                   1
10191751                  2                   1
15624018                  1                   1
5437636                   1                   1
5553291                   1                   1
10730849                  1                   1
9530492                   1                   1
5174121                   2                   1
11353804                  1                   1
18580757                  2                   1
14956230                  2                   1
633883                    1                   1
11077212                  2                   1
15560220                  1                   1
8195805                   1                   1
8735350                   1                   1
14498079                  1                   1
823268                    2                   1
19284300                  1                   1
18346326                  1                   1
19536141                  1                   1
1962605                   1                   1

[20125605 rows x 24 columns]

We can then also easily look at our training and validation datasets by calling `.train` or `.valid`

In [24]:
to.train

          building_id  meter  meter_reading  site_id  primary_use  \
8762645          1019      1       5.013963       10            1
11644712          213      4       5.741897        2            1
9447939           988      3       5.476045        9            1
13039607          186      1       4.377768        2            1
262060           1159      2       0.000000       13           10
167028           1211      2       1.503766       13            7
6442559           388      1       5.463662        3            1
8919853          1148      3       7.779726       13            2
16015693          107      4       2.397895        1            1
4694074           210      1       6.862036        2            1
18626663           43      1       7.216225        0            8
16363991          199      2       6.365838        2            7
9713755           792      3       0.000000        7            1
1972248          1351      2       0.000000       15            1
19868549          131      1       3.634951        1            5
9275812          1012      4       0.000000       10            1
8185133           299      1       3.066657        3            2
12451610          955      3       6.985364        9            1
18042939          846      1       0.753772        8            2
10824795          797      1       6.841680        7            1
7980956          1228      4       5.865618       14            1
16485413          202      2       6.898992        2            1
4664982           914      3       5.423628        9            2
14979361         1217      2       0.000000       13            7
13165874          158      1       4.691073        2            7
2941709           462      1       4.758578        3            1
14267794          299      1       3.547604        3            2
16079204         1398      2       2.657851       15            5
8948918           187      1       0.620576        2           11
13152632          833      1       4.164077        8           10
...               ...    ...            ...      ...          ...
1622966           582      1       2.781920        4            5
8442328            95      1       3.965338        0            1
2472474          1096      1       4.252630       13            1
14626471         1287      1       5.846525       14            4
5532503          1377      1       5.317997       15           10
18498360          164      2       0.000000        2            1
11508425          796      1       7.622796        7            1
18688109         1144      3       6.724485       13            7
3478574          1106      3       7.156372       13            3
13071654         1303      2       7.135576       14            7
654217            719      1       1.856298        5            1
13436197          523      1       3.150597        3            7
13569353           95      1       3.990893        0            1
4978114          1203      1       5.231183       13            7
18801858          170      4       5.983044        2            1
9331926          1031      1       3.891820       11            1
4923375           789      1       5.399596        6           10
13067465         1423      1       2.998229       15            5
8726324           221      4       0.000000        2            1
12059736          692      1       1.335001        5            7
11978365          444      1       4.794385        3            1
3752836           168      1       4.385645        2            5
9195940           943      3       4.385770        9            5
3535565          1266      2       0.000000       14            3
6856407           227      1       3.960051        2            7
15543001          950      1       4.488636        9            5
372580           1345      1       5.956291       15            1
14763746          294      1       6.673172        3            7
9003796           891      3       5.596197        9            1
5913203          1120      3       3.473518       13            7

          square_feet  year_built  floor_count  air_temperature  \
8762645      0.675115    0.034523          2.0         0.521720
11644712     1.873826    2.236004          NaN         1.636095
9447939      0.500579    0.034523          NaN         1.636095
13039607    -0.200254    0.034523          NaN         1.225055
262060       1.596856    0.034523          NaN        -1.761836
167028      -0.130252    0.034523          NaN        -1.917117
6442559     -0.030371    2.078756          NaN        -0.346031
8919853      1.081777    0.034523          NaN         0.311633
16015693    -0.874034    0.034523          4.0        -0.282092
4694074      0.730212    1.921507          NaN         0.265961
18626663     1.013738   -0.070309          NaN         0.165485
16363991     0.479783    1.816675          NaN         0.722673
9713755      0.366550    0.034523          5.0         0.731807
1972248      0.358585    1.816675          NaN        -1.862312
19868549    -0.383003   -0.489639         16.0        -1.158977
9275812     -0.363787    0.034523          4.0         1.480813
8185133     -0.582356    0.034523          NaN         0.567391
12451610     1.685742    0.034523          NaN         0.667867
18042939    -0.912570    0.034523          1.0         0.667867
10824795     1.009777   -0.227558          2.0         0.804881
7980956     -0.263402    0.034523          NaN         1.078907
16485413     0.954851    1.187680          NaN         1.636095
4664982      3.379540    0.034523          NaN         0.421243
14979361    -0.789562    0.034523          NaN         0.211156
13165874    -0.875025    0.034523          NaN         2.138477
2941709     -0.327454   -0.542055          NaN        -0.291226
14267794    -0.582356    0.034523          NaN         0.567391
16079204    -0.749311   -2.900785          NaN        -0.492179
8948918     -0.906005   -1.118633          NaN         1.891853
13152632    -0.693625    0.034523          1.0         1.005833
...               ...         ...          ...              ...
1622966     -0.723461   -2.062125          3.0        -0.145078
8442328     -0.668339   -0.070309          NaN         1.435142
2472474     -0.644547    0.034523          NaN        -1.560883
14626471     0.834174    0.034523          NaN         0.466914
5532503      1.129156   -0.489639          NaN        -0.601789
18498360    -0.304387    0.034523          NaN        -0.245555
11508425     2.388121   -0.489639          6.0         0.859686
18688109    -0.095149    0.034523          NaN        -1.816641
3478574     -0.636360    0.034523          NaN        -0.391702
13071654    -0.148086    0.034523          NaN         0.421243
654217      -0.699097   -2.638704          2.0        -1.277722
13436197    -0.851617    0.034523          NaN         0.877954
13569353    -0.668339   -0.070309          NaN         0.877954
4978114     -0.776450    0.034523          NaN        -1.259453
18801858     0.612958    1.921507          NaN        -0.747937
9331926     -0.339149    0.034523          NaN         0.667867
4923375      2.509796    0.034523          NaN        -0.346031
13067465    -0.750233   -1.957293          NaN         0.366438
8726324      0.126639    0.086940          NaN         1.837048
12059736    -0.555840    0.349021          1.0        -0.090273
11978365     0.010606   -1.537963          NaN         0.667867
3752836     -0.182984   -0.699304          NaN        -0.090273
9195940     -0.430459    0.034523          NaN         0.877954
3535565     -0.615957    0.034523          NaN        -0.546984
6856407     -0.286647   -2.062125          NaN         0.165485
15543001    -0.179032    0.034523          NaN         0.521720
372580       0.151524    0.244188          NaN        -1.825775
14763746     2.563126    2.131172          NaN         0.311633
9003796      0.812533    0.034523          NaN         1.581289
5913203      0.100320    0.034523          NaN        -0.291226

          cloud_coverage  ...  wind_speed  hour  day  weekend  month  \
8762645        -0.527723  ...         4.1    14   11        6      6
11644712        2.415208  ...         4.6     7    2        2      8
9447939         0.453254  ...         3.1    23   23        4      6
13039607        1.434231  ...         5.7    17   27        6      8
262060         -0.527723  ...         6.2    24    5        2      1
167028         -0.527723  ...         4.6     4    4        1      1
6442559        -0.527723  ...         3.6     6    1        7      5
8919853         3.396185  ...         3.6    13   14        2      6
16015693       -0.527723  ...         4.6    12   19        3     10
4694074         1.434231  ...         2.1     2   31        4      3
18626663        0.453254  ...         0.0    10    5        1     12
16363991        0.453254  ...         2.6    16   25        2     10
9713755        -0.527723  ...         2.6    17   28        2      6
1972248        -0.527723  ...         2.6     5    6        6      2
19868549       -0.527723  ...         1.0    12   27        2     12
9275812        -0.527723  ...         2.1    21   20        1      6
8185133        -0.527723  ...         1.5     8    1        3      6
12451610       -0.527723  ...         0.0    24   16        2      8
18042939        1.434231  ...         2.1    16   24        4     11
10824795       -0.527723  ...         5.1    14   18        1      7
7980956        -0.527723  ...         2.6    16   28        6      5
16485413       -0.527723  ...         0.0    21   27        4     10
4664982        -0.527723  ...         4.6    13   30        3      3
14979361       -0.527723  ...         4.6     3    1        6     10
13165874        0.453254  ...         2.6    23   29        1      8
2941709         0.453254  ...         8.8     8   25        4      2
14267794       -0.527723  ...         3.6    12   18        7      9
16079204       -0.527723  ...         2.1    14   20        4     10
8948918        -0.527723  ...         4.6     2   15        3      6
13152632       -0.527723  ...         4.6    17   29        1      8
...                  ...  ...         ...   ...  ...      ...    ...
1622966        -0.527723  ...         4.6    21   30        6      1
8442328        -0.527723  ...         5.7    22    5        7      6
2472474        -0.527723  ...         4.1    20   15        1      2
14626471        0.453254  ...         2.6    21   24        6      9
5532503        -0.527723  ...         5.1    24   14        4      4
18498360       -0.527723  ...         0.0    21    2        5     12
11508425       -0.527723  ...         2.6    20   30        6      7
18688109       -0.527723  ...         7.7    14    6        2     12
3478574         1.434231  ...         5.7     1    7        1      3
13071654       -0.527723  ...         0.0     6   28        7      8
654217         -0.527723  ...         3.1     7   13        3      1
13436197       -0.527723  ...        10.8    18    3        6      9
13569353       -0.527723  ...         4.1     3    6        2      9
4978114        -0.527723  ...         3.6     3    5        2      4
18801858        0.453254  ...         2.1    15    8        4     12
9331926        -0.527723  ...         5.7    21   21        2      6
4923375        -0.527723  ...         3.6     4    4        1      4
13067465       -0.527723  ...         2.1     4   28        7      8
8726324        -0.527723  ...         6.7    23   10        5      6
12059736       -0.527723  ...         4.6    20    9        2      8
11978365       -0.527723  ...         1.5     8    8        1      8
3752836        -0.527723  ...         5.7    12   12        6      3
9195940        -0.527723  ...         0.0    11   19        7      6
3535565        -0.527723  ...         1.5     4    8        2      3
6856407         1.434231  ...         2.6    15    8        7      5
15543001       -0.527723  ...         0.0     2   11        2     10
372580         -0.527723  ...         0.0     2    8        5      1
14763746       -0.527723  ...         3.6     8   27        2      9
9003796        -0.527723  ...         3.6     1   16        4      6
5913203         3.396185  ...         2.6    19   21        4      4

          square_feet_na  year_built_na  air_temperature_na  \
8762645                1              2                   1
11644712               1              1                   1
9447939                1              2                   1
13039607               1              2                   1
262060                 1              2                   1
167028                 1              2                   1
6442559                1              1                   1
8919853                1              2                   1
16015693               1              2                   1
4694074                1              1                   1
18626663               1              1                   1
16363991               1              1                   1
9713755                1              2                   1
1972248                1              1                   1
19868549               1              1                   1
9275812                1              2                   1
8185133                1              2                   1
12451610               1              2                   1
18042939               1              2                   1
10824795               1              1                   1
7980956                1              2                   1
16485413               1              1                   1
4664982                1              2                   1
14979361               1              2                   1
13165874               1              2                   1
2941709                1              1                   1
14267794               1              2                   1
16079204               1              1                   1
8948918                1              1                   1
13152632               1              2                   1
...                  ...            ...                 ...
1622966                1              1                   1
8442328                1              1                   1
2472474                1              2                   1
14626471               1              2                   1
5532503                1              1                   1
18498360               1              1                   1
11508425               1              1                   1
18688109               1              2                   1
3478574                1              2                   1
13071654               1              2                   1
654217                 1              1                   1
13436197               1              2                   1
13569353               1              1                   1
4978114                1              2                   1
18801858               1              1                   1
9331926                1              2                   1
4923375                1              2                   1
13067465               1              1                   1
8726324                1              1                   1
12059736               1              1                   1
11978365               1              1                   1
3752836                1              1                   1
9195940                1              2                   1
3535565                1              2                   1
6856407                1              1                   1
15543001               1              2                   1
372580                 1              1                   1
14763746               1              1                   1
9003796                1              2                   1
5913203                1              2                   1

          cloud_coverage_na  dew_temperature_na
8762645                   1                   1
11644712                  1                   1
9447939                   1                   1
13039607                  1                   1
262060                    2                   1
167028                    1                   1
6442559                   2                   1
8919853                   1                   1
16015693                  2                   1
4694074                   1                   1
18626663                  1                   1
16363991                  1                   1
9713755                   2                   1
1972248                   1                   1
19868549                  1                   1
9275812                   1                   1
8185133                   2                   1
12451610                  2                   1
18042939                  1                   1
10824795                  2                   1
7980956                   1                   1
16485413                  2                   1
4664982                   2                   1
14979361                  2                   1
13165874                  1                   1
2941709                   1                   1
14267794                  2                   1
16079204                  2                   1
8948918                   1                   1
13152632                  2                   1
...                     ...                 ...
1622966                   2                   1
8442328                   2                   1
2472474                   2                   1
14626471                  1                   1
5532503                   1                   1
18498360                  2                   1
11508425                  2                   1
18688109                  2                   1
3478574                   1                   1
13071654                  1                   1
654217                    2                   1
13436197                  2                   1
13569353                  2                   1
4978114                   1                   1
18801858                  1                   1
9331926                   2                   1
4923375                   1                   1
13067465                  1                   1
8726324                   2                   1
12059736                  1                   1
11978365                  2                   1
3752836                   1                   1
9195940                   1                   1
3535565                   1                   1
6856407                   1                   1
15543001                  1                   1
372580                    1                   1
14763746                  2                   1
9003796                   1                   1
5913203                   1                   1

[16100484 rows x 24 columns]

From here we can create our DataBunch object one of two ways. We can either directly do a `dbch = to.databunch()`, *or* we can take it one step further and apply custom works to some dataloaders. First let's look at the basic version

In [25]:
dbch = to.databunch()
dbch.valid_dl.show_batch()

In [26]:
is_categorical_dtype(to.meter_reading)

False

In [27]:
next(iter(dbch.train_dl))

(tensor([[1189,    7,   23,    7,    2,    6,    1,    1,    2,    1,    1,    1],
         [ 260,    1,   10,   13,    4,   10,    1,    1,    2,    1,    1,    1],
         [ 936,    7,   17,   26,    6,   11,    2,    1,    2,    1,    1,    1],
         [ 535,    2,   16,   21,    7,    8,    1,    1,    2,    1,    1,    1],
         [ 370,   10,   17,    2,    6,    1,    1,    1,    2,    1,    1,    1],
         [ 508,    1,   19,   19,    2,    4,    1,    1,    2,    1,    1,    1],
         [ 858,    2,    2,   10,    1,   10,    1,    1,    2,    1,    1,    1],
         [ 351,    1,   15,   29,    6,   10,    1,    1,    1,    1,    1,    1],
         [ 788,    5,    2,    3,    7,    4,    1,    1,    2,    1,    2,    1],
         [1219,    2,   21,   27,    1,    6,    1,    1,    2,    1,    2,    1],
         [1233,    1,   24,    4,    6,    6,    4,    1,    2,    1,    1,    1],
         [1190,    7,   21,    3,    4,   11,    3,    1,    2,    1,    1,    1],
         [ 509,    8,   20,   13,    3,    1,    1,    1,    2,    1,    1,    1],
         [1408,    5,   19,   19,    2,    7,    2,    1,    1,    1,    2,    1],
         [ 931,    7,   20,    7,    2,    6,    1,    1,    2,    1,    1,    1],
         [ 249,    1,   10,   16,    5,   12,    2,    1,    1,    1,    2,    1]]),
 tensor([[-0.6032,  0.0345,  0.5217,  1.4342, -0.2699],
         [-0.2586,  0.0345,  0.4669, -0.5277, -0.6531],
         [-0.7822,  0.0345,  0.1107, -0.5277,  0.1133],
         [-0.9122,  0.0345,  1.0789,  2.4152,  1.5872],
         [-0.8650,  0.0345, -0.9032, -0.5277, -1.2524],
         [-0.3979,  0.0345,  1.1246,  3.3962, -0.1028],
         [-0.8858,  0.0345,  0.6222, -0.5277,  0.9878],
         [-0.2045, -1.3283, -0.3917,  1.4342,  0.0544],
         [ 1.4601,  0.0345, -0.0903, -0.5277, -1.3114],
         [ 1.3721,  0.0345,  0.5674, -0.5277,  0.3885],
         [ 0.6281,  0.0345,  1.0241, -0.5277,  1.0370],
         [-0.0815,  0.0345,  0.2112, -0.5277, -0.2109],
         [ 0.0386,  0.0345, -1.5609,  1.4342, -2.4020],
         [-0.2101,  1.9215,  0.8231, -0.5277,  0.2804],
         [-0.7413,  0.0345,  1.3803,  1.4342,  1.0370],
         [-0.7095,  0.6635, -0.0903, -0.5277,  0.3885]]),
 tensor([3, 5, 4, 1, 3, 3, 0, 4, 5, 5, 6, 0, 3, 5, 2, 5]))

In [28]:
trn_dl = TabDataLoader(to.train, bs=64, shuffle=True, drop_last=True)
val_dl = TabDataLoader(to.valid, bs=128)

Lastly we can create a `DataBunch` object by calling `DataBunch()` and passing in our two `DataLoaders`

In [29]:
dbunch = DataBunch(trn_dl, val_dl)
dbunch.valid_dl.show_batch()

WARNING! Look at the `meter_reading` above, what's up?

## Training the Model

First we need to create a `TabularModel` that needs an embedding matrix size, how many continuous variables to expect, the number of possible outputs (classes), and how big we want our layers. To pass in the embedding matrix sizes, we can use `get_emb_sz` onto a `TabularPandas` object

First let's define our embedding size rule of thumb, along with our `get_emb_sz` function

In [30]:
def emb_sz_rule(n_cat): 
    "Rule of thumb to pick embedding size corresponding to `n_cat`"
    return min(600, round(1.6 * n_cat**0.56))

In [31]:
def _one_emb_sz(classes, n, sz_dict=None):
    "Pick an embedding size for `n` depending on `classes` if not given in `sz_dict`."
    sz_dict = ifnone(sz_dict, {})
    n_cat = len(classes[n])
    sz = sz_dict.get(n, int(emb_sz_rule(n_cat)))  # rule of thumb
    return n_cat,sz

In [32]:
def get_emb_sz(to, sz_dict=None):
    "Get default embedding size from `TabularPreprocessor` `proc` or the ones in `sz_dict`"
    return [_one_emb_sz(to.procs.classes, n, sz_dict) for n in to.cat_names]

Now we pass in our `TabularPandas` object, `to`

In [33]:
emb_szs = get_emb_sz(to); print(emb_szs)

[(1450, 94), (17, 8), (25, 10), (32, 11), (8, 5), (13, 7), (5, 4), (2, 2), (3, 3), (3, 3), (3, 3), (3, 3)]

The last piece of the puzzle we need is our basic `TabularModel`

In [34]:
class TabularModel(Module):
    "Basic model for tabular data."
    def __init__(self, emb_szs, n_cont, out_sz, layers, ps=None, embed_p=0., y_range=None, use_bn=True, bn_final=False):
        ps = ifnone(ps, [0]*len(layers))
        if not is_listy(ps): ps = [ps]*len(layers)
        self.embeds = nn.ModuleList([Embedding(ni, nf) for ni,nf in emb_szs])
        self.emb_drop = nn.Dropout(embed_p)
        self.bn_cont = nn.BatchNorm1d(n_cont)
        n_emb = sum(e.embedding_dim for e in self.embeds)
        self.n_emb,self.n_cont,self.y_range = n_emb,n_cont,y_range
        sizes = [n_emb + n_cont] + layers + [out_sz]
        actns = [nn.ReLU(inplace=True) for _ in range(len(sizes)-2)] + [None]
        _layers = [BnDropLin(sizes[i], sizes[i+1], bn=use_bn and i!=0, p=p, act=a)
                       for i,(p,a) in enumerate(zip([0.]+ps,actns))]
        if bn_final: _layers.append(nn.BatchNorm1d(sizes[-1]))
        self.layers = nn.Sequential(*_layers)
    
    def forward(self, x_cat, x_cont):
        if self.n_emb != 0:
            x = [e(x_cat[:,i]) for i,e in enumerate(self.embeds)]
            x = torch.cat(x, 1)
            x = self.emb_drop(x)
        if self.n_cont != 0:
            x_cont = self.bn_cont(x_cont)
            x = torch.cat([x, x_cont], 1) if self.n_emb != 0 else x_cont
        x = self.layers(x)
        if self.y_range is not None:
            x = (self.y_range[1]-self.y_range[0]) * torch.sigmoid(x) + self.y_range[0]
        return x

If you noticed, most of what changed with the v2 API is focused on the dataloading / DataBunch creation. The rest of this Kernel sould look very familiar to fastai users

In [35]:
model = TabularModel(emb_szs, len(to.cont_names), 1, [1000,500], y_range=(0,15)); model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(1450, 94)
    (1): Embedding(17, 8)
    (2): Embedding(25, 10)
    (3): Embedding(32, 11)
    (4): Embedding(8, 5)
    (5): Embedding(13, 7)
    (6): Embedding(5, 4)
    (7): Embedding(2, 2)
    (8): Embedding(3, 3)
    (9): Embedding(3, 3)
    (10): Embedding(3, 3)
    (11): Embedding(3, 3)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): BnDropLin(
      (0): Linear(in_features=158, out_features=1000, bias=True)
      (1): ReLU(inplace=True)
    )
    (1): BnDropLin(
      (0): BatchNorm1d(1000, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=1000, out_features=500, bias=True)
      (2): ReLU(inplace=True)
    )
    (2): BnDropLin(
      (0): BatchNorm1d(500, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=500, out_features=1, bias=True)
    )
  )
)

Now we can define our optimization function and create our `Learner`

In [36]:
opt_func = partial(Adam, wd=0.01, eps=1e-5)
learn = Learner(dbunch, model, MSELossFlat(), opt_func=opt_func)

In [37]:
dbunch.train_dl.bs = 1024*4

In [ ]:
learn.fit_one_cycle(5)

I need to solve the bug for why we are not fitting properly, but this is also just a subset of the data. Hope this helps you get started! :)

- muellerzr

In [ ]:
p = learn.get_preds()

In [ ]:
p.shape